*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    height: 100%;
    width: 100%;
}

/* display all none */
.parent_container{
    /* border: 2px solid red; */
    /* height: 100vh;
    width: 100%; */
    width: fit-content;
    height: fit-content;
    background-image: url('./phonebook-contacts-icon-vector-25881195.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 2px 2px 2px grey;
    display: none;
    transition: ease-in-out 400ms;
}

.create_account_msg{
    border: 2px solid blue;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    font-size: 22px;
    border-radius: 10px;
    transition: ease-in-out 400ms;
    display: none;
}

.parent_store_ct{
    /* display: flex; */
    margin-top: 20px;
    display: none;
    transition: ease-in-out 400ms;
    border: 2px solid green; 
}

.view_container{
    /* border: 2px solid purple; */
    /* display: flex; */
    justify-content: flex-end;
    display: none;    
}

/* .countDisplay{
    display: none;
} */

/* KEYPAD */
.keypad_parent{
    position: relative;
    /* display: none; */
}

.all_contact_show{
    border: 3px solid burlywood;
    width: 400px;
    height: 300px;
    overflow: auto;
    display: none;
    border-radius: 4px;
    box-shadow: 1px 1px 20px 2px;
    opacity: 0;
    transition: ease-in-out 400ms;
}

/* END */
.style_box{
    margin-bottom: 4px;
    position: relative;
    padding: 5px 0;
    width: 350px;
    margin: 5px auto;
    transition: ease-in-out 300ms;
    border-radius: 6px;
    padding-left: 3px;
    background-color: burlywood;
    cursor: pointer;
}

.style_box:hover{
    background-color: grey;
}

.style_x{
    background-color: red;
    padding: 0 6px;
    position: absolute;
    right: 0;
    transition: ease-in-out 300ms;
    cursor: pointer;
    border-radius: 4px;
    color: aliceblue;
}

.style_x:hover{
    transform: rotate(180deg);
}

.show_input{
    width: 320px;
    padding: 20px 0;
    text-align: center;
}

.keypads{
    width: 320px;
    display: flex;
    justify-content: center;
}

.keys_0_9{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 6px 4px;
    background-color: antiquewhite;
}

.nkey{
    background-color: rgba(22, 51, 85, 0.8);
    text-align: center;
    padding: 30px 0;
    border-radius: 8px;
}
 .nkey, .clear, .zero_btn{
     cursor: pointer;
     color: aliceblue;
     font-size: 18px;
 }

.clear{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgba(40, 146, 196, 0.9);
    margin: 6px 0;
    transition: ease-in-out 200ms;
}

.clear:hover{
    transform: rotate(1deg);
}

.save_pin i{
    font-size: 30px;
    border: 5px;
    transition: ease-in-out 200ms;
    transform: translateX(10px);
}

.save_pin i:hover{
    transform: translateX(20px);
}

.save_pin{
    padding: 0 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 320px;
}

.lock{
    font-size: 55px;
    border: 5px;
    position: absolute;
    top: -16px;
    left: -18px;
    opacity: 0.8;
    color: red;
}

/* CREATE CONTACT AND STORE CONTACT */
.store_view_contact_container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid yellow;  */
    height: fit-content;
}

.create{
    display: flex;
    padding: 2px 2px;
    align-items: center;
}

.store_btn{
    height: 64px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    background-color: rgb(173, 85, 85);
    color: aliceblue;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 3px 2px 3px 1px black;
    cursor: pointer;
}

.name_number input{
    background-color: rgba(235, 223, 223, 0.8);
    border: none;
    font-size: 16px;
    height: 30px;
    box-shadow: 1px 2px 1px;
    padding-left: 5px;
    transition: ease-in 400ms;
    width: 0px;
}

.name_number input:focus{
    outline: none;
}

.save_contact{
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 6px;
    color: blueviolet;
    border-radius: 4px;
    padding: 2px 10px;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.save_contact:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

#number{
    margin-top: 2px;
}

.save_contact i{
    font-size: 40px;
    font-weight: bolder;
}

.saveBTN i {
    font-size: 40px;
    font-weight: bolder;
    color: darkgray;
    transition: ease-in-out 400ms;
    cursor: pointer;
}

.saveBTN i:hover{
    color: grey;
}

/* VIEW CONTACT */
.view_contact{
    padding: 30px 20px;
    border-radius: 40px 70px;
    border: none;
    box-shadow: 2px 1px 4px 1px crimson;
    cursor: pointer;
    background-color: darkblue;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
    transition: ease-in-out 400ms;
    /* display: none; */
}

.view_contact:hover{
    opacity: 0.8;
}

/* DIsPLAY CONTACT AS SAVED */
.display_contact_inview{
    width: 300px;
    height: 400px;
    overflow-y: auto;
    margin-left: 20px;
    box-shadow: 3px 2px 10px;
    position: relative;
}

.zero{
    width: 260px;
}

/* DISPLAY CONTACT IN CONTAINER STYLING */
.ct_name_num_con{
    text-align: center;
    width: 140px;
}

.show_ct_container{
    display: flex;
    align-items: center;
    /* width: 200px; */
    width: inherit;
    justify-content: center;
    gap: 20px;
    margin-bottom: 7px;
    cursor: pointer;
    transition: ease-in-out 300ms;
    border-radius: 6px;
    opacity: 0;
    background-color: grey;
    color: wheat;

}

.show_ct_container:hover{
    background-color: lightgrey;
    color: black;
}


.edit_name_box{
    width: 117px;
    position: relative;
    background-color: transparent;
    display: none;
    transform: translateY(-20px);
    border: none;
    border-radius: 4px;
    transition: ease-in-out 400ms;
}

.edit_number_box{
    width: 117px;
    position: relative;
    background-color: transparent;
    transform: translateY(-20px);
    border: none;
    border-radius: 4px;
    display: none;
    transition: ease-in-out 400ms;
}

.edit_name_box_effect{
    transform: translateY(0px);
    z-index: 1;
    background:lightcyan;
    padding: 2px 0;
    padding-left: 5px;
}

 .edit_number_box_effect{
    transform: translateY(0px);
    z-index: 1;
    background:lightcyan;
    padding: 2px 0;
    padding-left: 5px;
} 

/* BUTTON DELETE HIDE AND EDIT */
.btn_ok_edit_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}
.edit_delete_btn{
    padding: 5px;
}

.bg, .br, .bh{
    cursor: pointer;
    transition: ease-in 300ms;
    border: none;
    border-radius: 4px;
}

.bg:hover{
    background-color: lightblue;
}

.br:hover{
    background-color: lightcoral;
}

.bh:hover{
    background-color: darkgreen;
    color: chocolate;
}

.ok_btn{
    display: none;
    transition: ease-in 300ms;
    cursor: pointer;
    border: none;
    padding: 2px;
}

.ok_btn:hover{
    opacity: 0.7;
    background-color: yellowgreen;
}

/* SAVE REMOVE */
.saveBTN{
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

.chosePinMsg{
    background-color: crimson;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    color: antiquewhite;
    border-radius: 4px;
}

.lock_show_pin{
    margin-bottom: 10px;
    display: none;
}

.show_pin, .clear_data{
    padding: 4px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.show_pin{
    margin-left: 10px;
    margin-right: 10px;
}

.style_pin{
    font-size: 22px;
    font-weight: bolder;
    padding: 0 3px;
}

footer{
    border: 2px solid;
    width: fit-content;
    margin-top: 5px;
    background-color: black;
    color: white;
    padding: 3px 10px;
    font-size: 16px;
    visibility: visible;
    text-align: center;
}

.orignalSaveToDriveBtn{
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    transition: ease-in-out 300ms;
    margin-top: 5px;
    margin-bottom: 20px;
}

.orignalSaveToDriveBtn:hover{
    background-color: red;
    color: aliceblue;
}